* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height:100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom,rgb(0, 0, 0),rgb(33, 33, 33),black);
    padding: 20px;
}

.all-reels{
    height: 100%;
    width: 400px;
    border-radius: 10px;
    margin: auto;
    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.all-reels::-webkit-scrollbar{
    display: none;
}

.reel{
    height: 100%;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.reel .main-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
}

.bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.168),rgba(0, 0, 0, 0.671));
    color: white;
}

.details{
    display: flex;
    align-items: center;
    gap: 15px;
}

.details img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.details h3{
    font-size: 23px;
    font-weight: 700;
}

.details button{
    padding: 5px 10px;
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

.bottom .caption>h2{
    font-size: 20px;
    font-weight: 400;
}

.caption{
    margin-top: 10px;
}

.side{
    position: absolute;
    bottom: 0;
    right: 0%;
    color: white;
    padding: 10px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
}

i{
    font-size: 30px;
    pointer-events: none;
}

#love{
    color: red;
}

.like{
    cursor: pointer;
}

.side p{
    pointer-events: none;
}

.sound{
    position: absolute;
    color: white;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.09);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.sound>i{
    pointer-events: none;
}

.cursor{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}