* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height:100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
    color: #fff;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.piano-board{
    height: 40vh;
    width: 80vw;
    position: relative;
    border-radius: 10px;
}

.white-keys{
    height: 100%;
    width: 100%;
    display: flex;
}

.wKey{
    height: 100%;
    width: calc(100% / 22);
    background-color: #fff;
    border: 1px solid #b1b0b0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 20;
}

.wKey:active{
    opacity: 0.8;
    transform: translateY(8px);
}

.black-keys{
    width: 100%;
    height: 70%;
    display: flex;
    position: absolute
}

.bKey{
    height: 100%;
    width: 30px;
    background-color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 40;
}

.bKey:active{
    opacity: 0.95;
    height: 102%;
}

.two-black{
    height: 100%;
    display: flex;
    gap: 25px;
    justify-content: space-between;
    margin-left: 40px;
}

.three-black{
    height: 100%;
    display: flex;
    gap: 25px;
    justify-content: space-between;
    margin-left: 65px;
    margin-right: 30px;
}

.line{
    height: 2px;
    width: 90%;
    background-color: white;
}