* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: Chillax;
    src: url(63cffc0a3942456e003bc265_Chillax-Regular.woff);
}

html, body {
  width: 100%;
  font-family: 'Chillax';
  background-color: #111111;
  color: rgb(255, 252, 252);
  font-size: clamp(14px, 1vw, 18px);
}

@mixin flex-center($gap: 0rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

main{
    width: 100%;
    @include flex-center();
    align-items: center;

    section.view1{
        width: 100%;
        @include flex-center(1rem);
        padding: 1rem;
        max-width: 2000px;

        .top{
            width: 100%;

            img{
                width: 100%;
                border-radius: 0.8rem;
            }
        }

        .bottom{
            background-color: #1f1f1f;
            padding: 1rem;
            border-radius: 0.8rem;
            @include flex-center(3rem);

            .text{
                @include flex-center(1rem);

                h1{
                    font-weight: 200;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                }

                p{
                    font-weight: 100;
                    font-size: 1rem;
                    opacity: 0.6;
                    line-height: 1.5;
                }

                button{
                    width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.5rem;
                }
            }
        } 
    }

    section.view2{
        @include flex-center(1rem);
        width: 100%;
        padding: 1rem;

        .top, .bottom{
            display: flex;
            width: 100%;
            justify-content: space-around;

            .element{
                text-align: center;
                @include flex-center(0.2rem);
                
                small{
                    opacity: 0.5;
                }
                
                h2{
                    font-size: 3rem;
                    font-weight: 300;
                }

            }
        }

        
    }

    section.view3{
        width: 100%;
        padding: 1rem;
        @include flex-center(1rem);

        .top{
            img{
                width: 100%;
                border-radius: 0.8rem;
            }
        }
        .bottom{
            background-color: #1f1f1f;
            padding: 1rem;
            border-radius: 0.8rem;
            @include flex-center(3rem);

            .text{
                @include flex-center(1rem);

                h1{
                    font-weight: 200;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                }

                p{
                    font-weight: 100;
                    font-size: 1rem;
                    opacity: 0.6;
                    line-height: 1.5;
                }

                button{
                    width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.5rem;
                }
            }
        }
    }
    .bottom>p{
        text-transform: uppercase;
    }

    section.view4{
        width: 100%;
        padding: 1rem;
        @include flex-center(1rem);

        .top{
            img{
                width: 100%;
                border-radius: 0.8rem;
            }
        }
        .bottom{
            background-color: #1f1f1f;
            padding: 1rem;
            border-radius: 0.8rem;
            @include flex-center(3rem);

            .text{
                @include flex-center(1rem);

                h1{
                    font-weight: 200;
                    font-size: 2.5rem;
                    text-transform: uppercase;
                }

                p{
                    font-weight: 100;
                    font-size: 1rem;
                    opacity: 0.6;
                    line-height: 1.5;
                }

                button{
                    width: fit-content;
                    border: none;
                    outline: none;
                    padding: 0.7rem 1rem;
                    border-radius: 0.5rem;
                }
            }
        }
    }
    .bottom>p{
        text-transform: uppercase;
    }

    section.view5{
        @include flex-center(2rem);
        width: 100%;
        padding: 1rem;
        
        .card{
            width: 100%;
            background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd7d003dfb6a1bdecb_team-01.webp);
            background-size: cover;
            aspect-ratio: 1/1;
            border-radius: 0.8rem;
            @include flex-center();
            justify-content: space-between;
            padding: 1.5rem;

            .top{
                display: flex;
                justify-content: flex-end;
                gap: 1rem;
            }

            .icon, .bottom{
                background-color: rgba(84, 84, 84, 0.375);
                backdrop-filter: blur(5px);
                border: 1px solid white;
                border-radius: 0.8rem;
                padding: 0.5rem 0.7rem;
            }

            .bottom{
                display: flex;
                justify-content: space-between;
                padding: 1.5rem 1rem;

                p{
                    text-transform: uppercase;
                }
            }
            
            .icon{
                width: fit-content;
                border-radius: 50%;
            }
        }

        .card2{
            background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd2e12fa747e999689_team-02.webp);
        }

        .card3{
            background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbdc1f945f817bf4fd7_team-03.webp);
        }
    }
}

@media (min-width:900px) {
    main{
        section.view1{
            flex-direction: row;
            padding: 1rem 2rem;

            .top, .bottom{
                width: 50%;
            }
            .bottom{
                justify-content: space-between;
                padding: 3rem;

                .text{
                    gap: 1.5rem;

                    h1{
                        font-size: 2.5rem;
                    }

                    p{
                        width: 80%;
                        font-size: 0.8rem;
                    }
                }
            }
        }

        section.view2{
            flex-direction: row;
            padding: 1rem 2rem;
        }

        section.view3{
            flex-direction: row-reverse;
            padding: 1rem 2rem;

            .top, .bottom{
                width: 50%;
            }

            .bottom{
                justify-content: space-between;
                padding: 3rem;

                .paragraphs{
                    display: flex;
                    gap: 2rem;
                    opacity: 0.7;
                    p{
                        font-size: 1rem;
                    }
                }
            }
        }

        section.view4{
            flex-direction: row;
            padding: 1rem 2rem;

            .top, .bottom{
                width: 50%;
            }

            .bottom{
                justify-content: space-between;
                padding: 3rem;

                .paragraphs{
                    display: flex;
                    gap: 2rem;
                    opacity: 0.7;
                    p{
                        font-size: 1rem;
                    }
                }
            }
        }

        section.view5{
            flex-direction: row;
            padding: 1rem 2rem;
        }
    }
}