* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --x:100px;
    --y:200px;
}

html, body {
    height:100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
    color: #fff;
}

main{
    width: 100%;
    height: 100%;
}

video{
    height: 99.53%;
    width: 100%;
    object-fit: cover;
}

.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(200px at var(--x) var(--y), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.887));
}