* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000;
  color: #fff;
}
.main{
    height: 100%;
    width: 100%;
    padding: 40px;
}

.card{
    height: 330px;
    width: 300px;
    background-color: black;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: 5s ease-in-out;
}

.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bottom{
    height: 30%;
    width: 100%;
    background: linear-gradient(transparent, black);
    position: absolute;
}

.bottom h1{
    color: #fff;
}

.card:hover .bottom{
    bottom: 0%;
}