* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height:100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: cornflowerblue;
}

main{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card{
    width: 350px;
    background-color: #ffffff89;
    backdrop-filter: blur(5px);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid white;
}

.card img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}


h5{
    font-size: 20px;
}

.btn-container{
    display: flex;
    justify-content: end;
    margin-top: 40px;
}

.btn-container button{
    padding: 10px 30px;
    border: none;
    background-color: blueviolet;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
}

.btn-container button:active{
    scale: 0.95;
}