* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height:100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
}

main{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    width: 400px;
    height: 530px;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
}

.card img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

h3{
    font-size: 40px;
    font-weight: 800;
    white-space: nowrap;
    margin-bottom: 10px;
}

h4{
    font-size: 25px;
    color: crimson;
    margin-bottom: 20px;
}

p{
    font-size: 20px;
}