* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 600px;
    background-color: #fff;
    padding: 30px 50px;
    color: black;
    border-radius: 10px;
}

.text p{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.text p span{
    color: blueviolet;
    text-decoration: underline;
}

.outer{
    width: 100%;
    height: 20px;
    background-color: rgb(198, 197, 197);
    border-radius: 10px;
    margin-top: 20px;
}

.inner{
    height: 100%;
    width: 0;
    background-color: rgb(193, 167, 21);
    border-radius: 10px;
}

.lower{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.lower h2{
    font-size: 30px;
}

button{
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    background-color: rgb(193, 167, 21);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    z-index: 10;
}

button:active{
    scale: 0.95;
}
