* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height:100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
    color: #fff;
}

main{
    height: 100%;
    width: 100%;
    position: relative;
}

.elem{
    height: 170px;
    width: 100%;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.elem h1{
    font-size: 5vw;
}

.elem img{
    height: 180px;
    width: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    position: absolute;
    /* transform: translate(-50%,-50%); */
    opacity: 0;
    mix-blend-mode: difference;
    transition: all linear 0.2s;
}