* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height:100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
    color: #fff;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cursor{
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    mix-blend-mode: difference;     /* mast property */
}

h1{
    font-size: 10vw;
    font-weight: 900;
}