* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height:100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    anchor-name: --some-anchor;
}

.box{
    padding: 20px 30px;
    z-index: 20;
}

.box:hover{
    anchor-name: --some-anchor;
}

.anchor{
    background-color: grey;
    border-radius: 20px;
    position: absolute;
    position-anchor: --some-anchor;
    top: anchor(top);
    left: anchor(left);
    right: anchor(right);
    bottom: anchor(bottom);
    pointer-events: none;
    transition: all 0.3s linear;
}
