@font-face {
    font-family: musify;
    src: url(Pin-Sans-MacOS-Regular-708c49dd.woff2);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height:100%;
    width: 100%;
    font-family: 'musify';
    background-color: #000;
    color: #fff;
}

main{
    height:100%;
    width: 100%;
    display: flex;
    position: relative;
    padding: 5vw 10vw;
    background-position: center;
    background-size: cover;
    transition: all 1s ease;
}

.left{
    height: 90%;
    width: 45%;
    background-color: rgb(56, 56, 56);
    background-size: cover;
    background-position: center;
}

.right{
    height: 90%;
    width: 55%;
    padding: 1.5vw 3vw;
    font-size: 40px;
    background-color: #ffffff00;
    backdrop-filter: blur(10px);
    overflow-y: scroll;
    padding-bottom: 4vw;
    box-shadow: inset 0 0 100px black;
}

.right::-webkit-scrollbar{
    display: none;
}

.all-songs{
    height: 80%;
    width: 100%;
    margin-top: 20px;
    z-index: -1;
}

.song-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid white;
    padding: 15px 10px;
}

.song-card:hover{
    background-color: #ffffff0b;
}

.song-card:nth-last-child(1){
    border-bottom: 1px solid white;
}

.song-card .part1{
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 10px;
    pointer-events: none;
}

.song-card img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.song-card h6{
    font-size: 15px;
}

.player{
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    gap: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ffffff00;
    backdrop-filter: blur(20px);
}

.player .details{
    display: flex;
    align-items: center;
    gap: 20px;
}

.main-cover{
    height: 5vw;
    width: 5vw;
    background-size: cover;
    background-position: center;
}

.player .inner{
    display: flex;
    align-items: center;
    gap: 20px;
}

#forward ,#backward{
    font-size: 30px;
    cursor: pointer;
}

#play{
    background-color: rgb(56, 56, 56);
    padding: 10px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
}

#play:active{
    scale: 0.95;
}

.progress-area{
    height: 6px;
    background-color: #fff;
    width: 60vw;
    border-radius: 10px;
}

.progress-area .progress-bar{
    height: 100%;
    width: 0%;
    background-color: rgb(56, 56, 56);
    border-radius: inherit;
}

.timer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
