* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000;
  color: #fff;
}

h1{
    font-size: 10rem;
}

#inc{
    padding: 10px 20px;
    cursor: pointer;
}

#dec{
    padding: 10px 20px;
    cursor: pointer;
}