* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height:100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
}

main{
    height:100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@property --ang {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes animateBorder {
    from{
        --ang: 0deg;
    }
    to{
        --ang: 360deg;
    }
}

.box{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-inline: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    background: linear-gradient(black) padding-box,
    conic-gradient(from var(--ang),black,black,black,rgb(213, 12, 126), black) border-box;
    border: 0px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 0px rgb(213, 12, 126);
    animation: animateBorder 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    transition: all 0.4s linear;
    color: #fff;
    text-shadow: 0 0 0px rgb(213, 12, 126);
}

.box img{
    width: 100%;
}

.box:hover{
    animation-play-state: running;
    border-width: 7px;
    box-shadow: 0 0 60px rgb(213, 12, 126);
    color: rgb(228, 57, 154);
    text-shadow: 0 0 10px rgb(213, 12, 126);
}