* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
    height: 100%;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000;
  color: #fff;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

#box{
    height: 400px;
    width: 400px;
    background-color: red;
    border: 5px solid white;
    border-radius: 10px;
}

button{
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    background-color: rgb(96, 96, 196);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

button:active{
    scale: 0.95;
}